<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>ToDo list application</display-name>
  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/item.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ItemNotDoneSrvlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.ItemNotDoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemNotDoneSrvlet</servlet-name>
    <url-pattern>/notdoitem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeItemStatusServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.ChangeItemStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeItemStatusServlet</servlet-name>
    <url-pattern>/itemedit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/reg.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/auth.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>ru.job4j.todo.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.todo.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>

</web-app>
